# Python Virtual Environment & Caches
.venv/
__pycache__/
*.py[cod]
.pytest_cache/

# Node
node_modules/

# Local Environment Variables
.env
.env.local
*.env.local

# Editor & OS artifacts
.vscode/
.idea/
.DS_Store
Thumbs.db

